<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<style>
body{
background-color:black;
justify-content:center;
align-items:center;

}
h2{
text-align:center;
color:aqualite;
}

#box{
  background-color:Gray;
            border: 2px solid #ccc;
            padding: 20px;
            border-radius: 10px;
            width: 300px;
            margin: 50px auto;
            text-align: center;
}
button{
width:70%;
padding:10px 20px;
border:1px solid #ccc;
background-color:yellow;
border-radius:2px;
}
</style>

<body>
<div id="box">
<h2>Movie is added sucessfully.Wants to add another movie?</h2>
<form action="map-addmovie">
<button type="submit" >Add Movie</button>
</form>
</div>

</body>
</html>