<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
h2{
background-color:pink;
text-align:center;
font-size:16px;
}
#box{
			  border:2px solid black;
			  padding:10px 20px;
			  border-radius: 10px;
			  width: 300px;
	          margin: 50px auto;
	          text-align: center;
	  
  
}
#regbtn{
background-color:violet;
padding:10px 20px;
border:none;
border-radius:5px;
cursor:pointer
}
body{
background-color:lightblue;
display:flex;
}



</style>
</head>
<body>
<div id="box">
<h2>Registration is failed. Try again.</h2>
<br><br>
<form action="map-register">
<button id="regbtn">Sign Up</button>
</form>
</div>

</body>
</html>