<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>RegisterSuccess</title>
<style>
h2{
color:yellow;
text-align:center;
font-size:22px;

}
body{
background-color:grey;
display:flex;
}
#regbtn{
background-color:violet;
padding:10px 20px;
border:none;
border-radius:5px;
}
#box
{
			  border:2px solid black;
			  padding:10px 20px;
			  border-radius: 10px;
			  width: 300px;
	          margin: 50px auto;
	          text-align: center;
	  
  
}



</style>



</head>

<body>
<div id="box">
<h2>Registration is Successful.</h2>
<br><br>
<form action="map-register">
<button id="regbtn">Sign up</button> 
</form>
</div>


</body>
</html>