<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
  <h2>All Movies</h2>
  <table border="1">
     <thead>
         <tr>
             <th>ID</th>
             <th>movieName</th>
             <th>movieLink</th>
             <th>movieGenre</th>
             <th>movieCast</th>
             <th>movieDirector</th>
         </tr>
     </thead>
     <tbody>
       <tr th:each="movie : ${movie}">
           <td th:text="${movie.id}"></td>
           <td th:text="${movie.movieName}"></td>
           <td th:utext="${movie.movieLink}"></td>
           <td th:text="${movie.movieGenre}"></td>
           <td th:text="${movie.movieCast}"></td>
           <td th:text="${movie.movieDirector}"></td>   
       </tr>
     </tbody>
  
  </table>

</body>
</html>